:root {
  --bg: #121212;
  --card: #1e1e1e;
  --accent: #1db954;
  --muted: #aaaaaa;
  --text: white;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 290px;
  background: black;
  padding: 15px;
  overflow-y: auto;
}

.sidebar h2 {
  color: var(--accent);
}

.box {
  margin-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  font-size: 13px;
  padding: 6px;
  color: var(--muted);
}

/* Inputs */
.sidebar input,
.sidebar select {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* Buttons */
.sidebar button {
  width: 100%;
  margin-top: 6px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: var(--accent);
  color: white;
  font-size: 13px;
}

.delete-btn {
  background: crimson !important;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  padding-bottom: 130px;
}

/* Search */
.top-bar {
  position: sticky;
  top: 0;
  background: var(--bg);
  padding: 10px;
}

.top-bar input {
  width: 70%;
  padding: 10px;
  border-radius: 12px;
  border: none;
}

/* Song Cards */
.song {
  display: flex;
  align-items: center;
  background: var(--card);
  margin: 12px 0;
  padding: 12px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.25s;
}

.song:hover {
  transform: scale(1.03);
  background: #2a2a2a;
}

.song img {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  margin-right: 12px;
}

.song button {
  margin-left: auto;
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
}

/* Player */
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95px;
  background: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.player-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.player-left img {
  width: 65px;
  height: 65px;
  border-radius: 14px;
}

.controls button {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  margin: 0 6px;
  color: white;
  transition: 0.2s;
}

.controls button:hover {
  transform: scale(1.2);
}

.play-btn {
  background: var(--accent);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.active {
  color: var(--accent);
}

#progressBar {
  width: 60%;
}

.time-row {
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-size: 12px;
  color: var(--muted);
}

#volumeSlider {
  accent-color: var(--accent);
}
